#wrapper.nav-closed:not(.hovering) #navigation {
  padding-top: 48px;
  margin-left: 8px;
  margin-right: 8px;
}

#wrapper.nav-closed:not(.hovering) nav li.active-child > a:first-of-type {
  display: none;
}

nav li ul .material-symbols-outlined {
  display: none;
}
#wrapper.nav-closed:not(.hovering) nav li.active-child ul .material-symbols-outlined {
  display: block;
}
#wrapper.nav-closed:not(.hovering) nav #navigation > li:not(.active-child) {
  margin-left: 4px;
  margin-right: 4px;
}
#wrapper.nav-closed:not(.hovering) nav li.active-child.expands.expanded {
  border: 1px solid var(--cv-theme-on-surface-12);
  /* background-color: var(--cv-theme-surface-container-lowest); */
  border-radius: var(--cv-border-radius-full);
  padding: 4px;
}

#wrapper.nav-closed:not(.hovering) nav li.active-child.expands.expanded > a:first-of-type {
  background-color: transparent;
  color: var(--cv-theme-on-surface-variant);
}
#wrapper.nav-closed:not(.hovering) nav li.active-child.expands.expanded > ul {
  display: block;
  margin-inline-start: 0;
  max-height: none;
}
.nav-closed nav li.active-child.expands.expanded li a {
  padding-left: 0;
}
#wrapper.nav-closed:not(.hovering) nav li.active-child.expands.expanded a span:last-of-type {
  display: none;
}

#wrapper.nav-closed.hovering nav {
  background-color: var(--cv-theme-surface-container-low);
  box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px 0px rgba(0, 0, 0, 0.30);
  padding-top: 4px;
  top: 0;
  z-index: 1002;
  width: 256px;   
}
#wrapper.nav-closed.hovering nav #logo {
  background-color: transparent;
  border-radius: initial;
  height: auto;
  width: auto;
  top: 0;
}
#wrapper.nav-closed.hovering nav #logo svg {
  height: 20px;
  left: 49px;
  top: 24px;
  transition: all var(--cv-transition-duration) var(--cv-transition-timing), all var(--cv-transition-duration) var(--cv-transition-timing);
}
#wrapper.nav-closed.hovering nav #logo svg path {
  fill: var(--cv-theme-color-logo);
  transition: all var(--cv-transition-duration) var(--cv-transition-timing), all var(--cv-transition-duration) var(--cv-transition-timing);
}
  #wrapper.nav-closed.hovering nav #logo svg .letters {
    display: initial;
    transition: all var(--cv-transition-duration) var(--cv-transition-timing), all var(--cv-transition-duration) var(--cv-transition-timing);
  }
  #wrapper.nav-closed.hovering nav #logo svg .dot {
    transform: translateX(0);
    transition: all var(--cv-transition-duration) var(--cv-transition-timing), all var(--cv-transition-duration) var(--cv-transition-timing);
  }


  #wrapper.nav-closed.hovering nav #navigation {
    padding-top: 0;
    transition: all var(--cv-transition-duration) var(--cv-transition-timing), all var(--cv-transition-duration) var(--cv-transition-timing);
  }
  #wrapper.nav-closed.hovering nav li a span:last-of-type {
    opacity: 1;
    transition: all var(--cv-transition-duration) var(--cv-transition-timing), all var(--cv-transition-duration) var(--cv-transition-timing);
  }
  #wrapper.nav-closed.hovering nav li.expands.expanded > ul {
    max-height: none;
    transition: all var(--cv-transition-duration) var(--cv-transition-timing), all var(--cv-transition-duration) var(--cv-transition-timing);
  }
  #wrapper.nav-closed.hovering nav li.active-child > a:first-of-type {
    background-color: var(--cv-theme-on-surface-8);
    color: var(--cv-theme-on-surface-variant);
    transition: all var(--cv-transition-duration) var(--cv-transition-timing), all var(--cv-transition-duration) var(--cv-transition-timing);
  }

  #wrapper.nav-closed.hovering nav li.active-child > a:first-of-type:hover:after,
  #wrapper.nav-closed.hovering nav li a.active:hover:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--cv-theme-on-surface-8);
    transition: all var(--cv-transition-duration) var(--cv-transition-timing), all var(--cv-transition-duration) var(--cv-transition-timing);
  }
  #wrapper.nav-closed.hovering nav li.expands > a:before {
    content: '';
    display: block;
    position: absolute;
    border: solid 5px var(--cv-theme-on-surface-variant);
    border-left-color: rgba(0,0,0,0);
    border-right-color: rgba(0,0,0,0);
    border-bottom-width: 0;
    width: 0;
    right: var(--cv-spacing-lg);
    transition: all var(--cv-transition-duration) var(--cv-transition-timing), all var(--cv-transition-duration) var(--cv-transition-timing);
  }
  #wrapper.nav-closed.hovering nav li.expands.expanded > a:before { 
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); 
  }
  #wrapper.nav-closed.hovering nav li li a {
    padding-left: var(--cv-spacing-md);
    transition: all var(--cv-transition-duration) var(--cv-transition-timing), all var(--cv-transition-duration) var(--cv-transition-timing);
  }